<div ng-include="'components/header/header-user-contacts.html'"></div>

<table class="table animated fadeIn" ng-init="showContacts()">
      <thead>
        <tr>
          <th>Name</th>         
          <th>E-Mail</th>
          <th>Number</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" ng-model="newContact.name"></td>
          <td><input class="form-control" ng-model="newContact.email"></td>
          <td><input class="form-control" ng-model="newContact.number"></td>
          <td><button class="btn btn-primary" ng-click="addContact(newContact)">Add Contact</button></td>
          <td><button class="btn btn-info" ng-click="showContacts()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="savedContact in savedContacts">
          <td>{{savedContact.name}}</td>
          <td>{{savedContact.email}}</td>
          <td>{{savedContact.number}}</td>
          <td><button class="btn btn-danger" ng-click="deleteContact(savedContact)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="">Edit</button></td>
        </tr>
        <tr ng-if="savedContacts == false">
        <td>No contacts to show!</td>
        </tr>
      </tbody>
    </table>