<div class="form-group"  ng-controller="SigninController">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Sign In</h4>
	</div>
	<div class="modal-body">
		<input class="form-control" placeholder="E-Mail" data-ng-model="User.email" required autofocus><br>
		<input type="password" class="form-control" placeholder="Password" data-ng-model="User.password" required><br>
		<button type="submit" class="btn btn-md btn-info btn-block" data-ng-click="sendUser(User)">Sign In</button>

		<!-- <div ng-show="signupError_1" ng-hide="!signupError_1">Incorrect email!</div>
		<div ng-show="signupError_2" ng-hide="!signupError_2">Incorrect password!</div>
		<div ng-show="signupError_3" ng-hide="!signupError_3">Incorrect confirmation password!</div>
		<div ng-show="signupError_4" ng-hide="!signupError_4">Your password and confirmation password don't match!</div> -->
	</div>
</div>