<div class="form-group">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Sign In</h4>
	</div>
	<div class="modal-body">
		<input class="form-control" placeholder="E-Mail" data-ng-model="User.email" required autofocus><br>
		<input type="password" class="form-control" placeholder="Password" data-ng-model="User.password" required><br>
		<button type="submit" class="btn btn-md btn-info btn-block" data-ng-click="sendUser(User)">Sign In</button>

		<div ng-show="signinError_1" ng-hide="!signinError_1">Incorrect email!</div>
		<div ng-show="signinError_2" ng-hide="!signinError_2">Incorrect password!</div>
		<div ng-show="signinError_3" ng-hide="!signinError_3">Email not found!</div>
		<div ng-show="signinError_4" ng-hide="!signinError_4">Passwords don't match!</div>
	</div>
</div>