<div ng-include="'components/header/header-user-profile.html'"></div>

<div class="container" ng-init="checkUser()">
	<div class="row">
		<div class="col-sm-4">
			<div class="well">
				<div ng-show="!User.editable" ng-hide="User.editable">
					<img src="http://www.genengnews.com/app_themes/genconnect/images/default_profile.jpg" class="img-rounded hovered profile-image"><br><br>
					<p ng-show="User.name" ng-hide="!User.name">Full Name: <span>{{ User.name }}</span></p>
					<p ng-show="!User.name" ng-hide="User.name">Full Name: <span>Not defined</span></p>
					<p ng-show="User.nick" ng-hide="!User.nick">Username: <span>{{ user.nick }}</span></p>
					<p ng-show="!User.nick" ng-hide="User.nick">Username: <span>Not defined</span></p>
					<p>Email: <span>{{ User.email }}</span></p>
					<p ng-show="User.number" ng-hide="!User.number">Number: <span>{{ User.number }}</span></p>
					<p ng-show="!User.number" ng-hide="User.number">Number: <span>Not defined</span></p>
					<button type="button" class="btn btn-primary full-width card-toggle" ng-click="showEdit()">Edit</button>
				</div>

				<div ng-show="User.editable" ng-hide="!User.editable">
					<div class="change-img img-rounded">Change Avatar</div><br>
					<input type="text" class="form-control" placeholder="Full Name">
					<input type="text" class="form-control" placeholder="Username">
					<input type="email" class="form-control" placeholder="Email">
					<input type="number" class="form-control" placeholder="Number">
					<button class="btn btn-success full-width card-toggle" ng-click="updateUser()">Update</button>
				</div>
			</div>
		</div>

		<div class="col-sm-8">
			<div class="well">

			</div>
		</div>
	</div>
</div>