<div class="form-group">
	<input type="email" class="form-control" placeholder="E-Mail" data-ng-model="registration.username" required autofocus><br>
	<input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required><br>
	<input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required><br>
	<button type="submit" class="btn btn-md btn-info btn-block" data-ng-click="signUp()">Sign Up</button>
</div>