<div class="form-group">
	<input type="email" class="form-control" placeholder="ელ- ფოსტა" data-ng-model="registration.username" required autofocus><br>
	<input type="password" class="form-control" placeholder="პაროლი" data-ng-model="registration.password" required><br>
	<input type="password" class="form-control" placeholder="პაროლის გამეორება" data-ng-model="registration.confirmPassword" required><br>
	<button type="submit" class="btn btn-md btn-info btn-block" data-ng-click="signUp()">რეგისტრაცია</button>
</div>