@font-face {
 	font-family: 'BPGSquare';
	src: url('../fonts/BPGSquare.eot?#iefix') format('embedded-opentype'),  url('../fonts/BPGSquare.woff') format('woff'), url('../fonts/BPGSquare.ttf')  format('truetype'), url('../fonts/BPGSquare.svg#BPGSquare') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

.navbar-brand {
	color: #0066FF !important;
	font-family: "Lobster", cursive;
	font-size: 24px;
	font-weight: 400;
}

body {
	font-family: "BPGSquare";
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.zoom {
 -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
}
.zoom:hover{
   -webkit-transform:scale(1.5);
   -moz-transform:scale(1.5);
   -ms-transform:scale(1.5);
   -o-transform:scale(1.5);
    transform:scale(1.5);
}

h4 {
  color: #000; 
}

h4 span {
color: #555; margin-left: 22px;
}

.search-bar {
position: absolute; top: 1%; right: 120px; width: 20%;
}